.anchorLink{
    text-decoration: none;
    color: #424242;
}
.anchorLink span{
    transition: all 0.4s linear;
    position: relative;
    display: inline-block;
}
.anchorLink span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #333;
    transition: all 0.3s linear;
    opacity: 0;
    width: 0;
    height: 2px;
}
.anchorLink span:hover::after{
    width: 100%;
    opacity: 1;
}
.anchorLink:hover{
    opacity: 0.8;
}

.isActive{
    color: #fefefe;
}
.isActive span::after{
    background-color: #fefefe;
}